.dialog-overview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0,0,0.6);
  display: flex;
  justify-content: center;
  
}
.dialog-inner {
  height: 200px;
  width: 400px;
  background-color: #fff;
  position: absolute;
  top: 20vh;
  padding: 20px;
  .dialog-header {
    margin-bottom: 10px;
  }
  .dialog-body{
  
  }
  .dialog-footer {
    position: absolute;
    bottom: 20px;
    width: 400px;
    text-align: center;
    button{
      margin-right: 20px;
    }
  }
}


